
#test{
    width: 50%;
    border-radius: 2px red;
    margin: auto;
    box-shadow: 5px 10px 8px 10px grey;
    background-color: lightcyan;
}
#container{
    margin: 5px;
}
h1{
    text-align: center;
    margin-bottom: 10px;
}
#bankWorkB{
    float: left;
    width: 100px;
}
#workB{
    float: right;
    width: 100px;
}
#bank{
    margin: 5px;
    padding: 10px;
}
#work{
    margin: 5px;
    padding: 10px;
}
#laptops{
    margin: 5px;
    padding: 10px;
}